services:
  backend:
    build: ./backend
    
    expose:
      - "8000"
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
    environment:
      - DEBUG=0

  frontend:   
    build: ./frontend
    ports:
      - "80:80"                     
    volumes:
      - static_volume:/usr/share/nginx/html/static   
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro   
    depends_on:
      - backend

volumes:
  static_volume: