services:
  backend:
    image: ${REGISTRY_USER}/hello-react-backend:${APP_VERSION:-latest}
    build: ./backend
    expose:
      - "8000"
    volumes:
      - static_volume:/app/staticfiles
    environment:
      - DEBUG=0
    restart: unless-stopped
   
  frontend:
    image: ${REGISTRY_USER}/hello-react-frontend:${APP_VERSION:-latest}   
    build: ./frontend
    ports:
      - "80:80" 
    volumes:
      - static_volume:/usr/share/nginx/html/static:ro
      
    restart: unless-stopped
    depends_on:
     - backend
      

volumes:
  static_volume:

